h2 {
    background-color: red;
    color:white;
    text-align: center;
    vertical-align: middle;
    font-size: 2em; 
}


.mat-dialog-content {

    font-size:20px;
    color: darkblue;
}

.mat-dialog-actions   {
   
    text-align: -webkit-center;  

}
